body{
    background-color: #7bb61def;
    font-family: 'Courier New', Courier, monospace;
    color: yellow;
}
header{
    display: flex;
    background-color:orangered;
    padding-left: 80px;
    border-radius: 50px;
}
